* {
	padding: 1px;
	margin: 0;
}

body {
	padding-top: 70px;
}

ol {
	list-style: none;
}

li {
	padding: 5px 0;
}


div {
	vertical-align: top;
}

textarea {
	resize: none;
}

.footer {
	margin-top: 100px; padding-top : 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	padding-top: 19px;
}

.note-list-title a:HOVER {
	text-decoration: none;
}

.action-right {
	float: right;
	top: 0px;
	margin-left:2px;
	display: block;
}

.note {
	width: 70%;
	margin: 50px auto;
	display: block;
}

.note input {
	padding: 5px;
}

.note textarea {
	padding: 5px;
	min-height: 300px;
	height: auto;
}


.wide {
	width: 100%
}

.crop {
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.my-nav li {
	float:left;
	list-style: none;
}

.my-nav li a {
	padding: 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	color: #777;
	position: relative;
	display: block;
	text-decoration: none;
	
}

.label {
	margin: 0 2px;
}